<ion-view title="Cart">
  <ion-content padding="false" scroll="true" class="has-header">
    <form>
    <div class="balanced clsCartSummary text-center"><b>Your Order Summary</b></div>
     <ion-list>
      <!-- Cart values can be fetched with loop using ng-repeat on below item -->
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="balanced clsCartItemTitle">UREA (Prilled/Granular)</div>
                  <div class="row cls0Padding">
                    <div class="col col-40 assertive cls0Padding clsCartItemQuantity">
                    100 KGS
                    </div>
                    <div class="col col-60 cls0Padding">
                    Delivered from <span class="assertive">Nairobi</span>
                    </div>
                  </div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice">
                    <div class="row">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">650 Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                       <i class="icon ion-ios-close-empty clsCartCloseIcon"></i>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="balanced clsCartItemTitle">CALCIUM AMMONIUM NITRATE</div>
                  <div class="row cls0Padding">
                    <div class="col col-40 assertive cls0Padding clsCartItemQuantity">
                    100 Litre
                    </div>
                    <div class="col col-60 cls0Padding">
                    Delivered from <span class="assertive">Nairobi</span>
                    </div>
                  </div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice">
                    <div class="row">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">630 Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                       <i class="icon ion-ios-close-empty clsCartCloseIcon"></i>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="balanced clsCartItemTitle">AMMOUNIUM NITRATE</div>
                  <div class="row cls0Padding">
                    <div class="col col-40 assertive cls0Padding clsCartItemQuantity">
                    100 KGS
                    </div>
                    <div class="col col-60 cls0Padding">
                    Delivered from <span class="assertive">Nairobi</span>
                    </div>
                  </div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice">
                    <div class="row">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">750 Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                       <i class="icon ion-ios-close-empty clsCartCloseIcon"></i>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="dark clsCartItemMainLabel">Sub Total</div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice clsCartItemMainPrice">
                    <div class="row cls0Padding">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">2030 Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="dark clsCartItemMainLabel">Tax</div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice clsCartItemMainPrice">
                    <div class="row cls0Padding">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">42 Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="dark clsCartItemMainLabel">Total</div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice clsCartItemMainPrice">
                    <div class="row cls0Padding">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">2072 Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
    </ion-list> 
    <div class="spacer" style="height: 30px;"></div>
    <div class="padding clsBtnShadowContainer">
      <button class="button button-assertive button-block rounded clsBtnShadow" ng-click="GotoCheckout()">CHECKOUT</button>
    </div>
    </form>
  </ion-content> 
</ion-view>
