<ion-view title="Checkout">
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-clear clsMakeMargin" ng-click="GoBack()" >
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="false" scroll="true" class="has-header">
    <form>
      <ion-list>
        <ion-item class="balanced text-center clsCheckoutHeaderItem">
          <b>Preferred billing address</b>
        </ion-item>
        <ion-item class="cls8Padding">
          <div class="row">
            <div class="col col-90 cls0Padding">
              <div class="row cls0Padding">
                <div class="col clsCheckoutAddressText clsMakeContentRight"><i class="ion-location clsCheckoutIcons"></i></div>
                <div class="col col-90 clsCheckoutAddressText">
                  Elgon Road, Upper Hill,<br>
                  Nairobi, Kenya<br>
                  00100A
                </div>
              </div>
              <div class="row cls0Padding">
                <div class="col clsCheckoutAddressText clsMakeContentRight"><i class="ion-ios-telephone clsCheckoutIcons"></i></div>
                <div class="col col-90 clsCheckoutAddressText">
                  00-000-0000
                </div>
              </div>
            </div>
            <div class="col cls0Padding">
                <i class="ion-edit clsCheckoutIcons" ng-click="EditAddress()"></i>
            </div>
          </div>
        </ion-item>
        <ion-item class="balanced text-center clsCheckoutHeaderItem">
          <b>Preferred shipping address</b>
        </ion-item>
        <ion-item class="cls8Padding">
            <div class="row">
            <div class="col col-90 cls0Padding">
                <div class="row cls0Padding">
                  <div class="col clsCheckoutAddressText clsMakeContentRight"><i class="ion-location clsCheckoutIcons"></i></div>
                  <div class="col col-90 clsCheckoutAddressText">
                    Elgon Road, Upper Hill,<br>
                    Nairobi, Kenya<br>
                    00100A
                  </div>
                </div>
                <div class="row cls0Padding">
                  <div class="col clsCheckoutAddressText clsMakeContentRight"><i class="ion-ios-telephone clsCheckoutIcons"></i></div>
                  <div class="col col-90 clsCheckoutAddressText">
                    00-000-0000
                  </div>
                </div>
            </div>
            <div class="col cls0Padding">
                <i class="ion-edit clsCheckoutIcons" ng-click="EditAddress()"></i>
            </div>
          </div>
        </ion-item>
        <ion-item class="balanced text-center clsCheckoutHeaderItem">
        <b>Choose payment method</b>
        </ion-item>
        <ion-item class="item-icon-right clsCheckoutAddressText cls8Padding clsPayMethodText" ng-click="">
            Credit card
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right clsCheckoutAddressText cls8Padding clsPayMethodText" ng-click="">
            Net banking
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right clsCheckoutAddressText cls8Padding clsPayMethodText" ng-click="">
            M-Pesa payment
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list> 
      <div class="padding clsBtnShadowContainer">
        <button class="button button-assertive button-block rounded clsBtnShadow" ng-click="GotoOrderConfirmation()">MAKE PAYMENT</button>
      </div>
    </form>
  </ion-content>
</ion-view>