<ion-view title="My Profile">

    <ion-nav-bar align-title="center" class="bar-light">
        <ion-nav-buttons side="left">
          <button class="button button-clear" ng-click="GoBack()" >
            <i class="icon ion-ios-arrow-back"></i>
          </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="false" scroll="true" class="has-header">
        <div class="item item-body cls0Border clsETGLayout">
                <form class="list">
                    <label class="item item-input" name="name">
                        <input type="text" placeholder="Name">
                    </label>
                    <div class="spacer" style="height: 10px;"></div>

                    <label class="item item-input" name="email">
                        <input type="email" placeholder="Email">
                    </label>

                    <div class="spacer" style="height: 10px;"></div>

                    <label class="item item-input" name="password">
                        <input type="password" placeholder="Password">
                    </label>

                    <div class="spacer" style="height: 10px;"></div>

                    <label class="item item-input" name="phone">
                        <input type="tel" placeholder="Phone">
                    </label>   

                    <div class="spacer" style="height: 10px;"></div>

                    <label class="item item-input" name="address">                        
                        <textarea rows="4" placeholder="Address" ></textarea>
                    </label>

                    <div class="spacer" style="height: 10px;"></div>

                    <div class="row cls0Padding">
                        <div class="col col-50 cls0Padding" style="padding-right:4px !important;" >
                        <label class="item item-input" name="country">
                        <input type="text" placeholder="Country">
                        </label>
                        </div>              
                        <div class="col col-50 cls0Padding" style="padding-left:4px !important;">
                        <label class="item item-input" name="postcode">
                        <input type="text" placeholder="Postal code">
                        </label>
                        </div>
                    </div>

                    <div class="spacer" style="height: 10px;"></div>

                    <a class="button button-assertive button-block rounded" ng-click="UpdateProfile()">
                    SAVE
                    </a>

                </form>
            </div>
    </ion-content>
</ion-view>