<ion-view title="Checkout">
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-clear clsMakeMargin" ng-click="GoBack()" >
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="false" scroll="true" class="has-header">
    <form>
     <ion-list>
     <ion-item class="balanced text-center clsCheckoutHeaderItem">
      <b>Billing address</b>
     </ion-item>
      <div class="item item-body clsETGLayout">

          <label class="item item-input" name="address">                        
              <textarea rows="4" placeholder="Address" ></textarea>
          </label>

          <div class="spacer" style="height: 10px;"></div>

          <div class="row cls0Padding">
              <div class="col col-50 cls0Padding" style="padding-right:4px !important;" >
              <label class="item item-input" name="country">
              <input type="text" placeholder="Country">
              </label>
              </div>              
              <div class="col col-50 cls0Padding" style="padding-left:4px !important;">
              <label class="item item-input" name="postcode">
              <input type="text" placeholder="Postal code">
              </label>
              </div>
          </div>

          <div class="spacer" style="height: 10px;"></div>

          <label class="item item-input" name="phone">
              <input type="tel" placeholder="Phone">
          </label>  

          <div class="spacer" style="height: 10px;"></div>

          <span>
            <i class="ion-android-checkbox-outline"></i>&nbsp;&nbsp;<span style="font-size: 12px;">Make this as my default shipping address</span>
          </span>
          
      </div>
      
      <ion-item class="balanced text-center clsCheckoutHeaderItem">
      <b>Choose payment method</b>
      </ion-item>
      <ion-item class="item-icon-right clsCheckoutAddressText cls8Padding clsPayMethodText" ng-click="">
          Credit card
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right clsCheckoutAddressText cls8Padding clsPayMethodText" ng-click="">
          Net banking
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right clsCheckoutAddressText cls8Padding clsPayMethodText" ng-click="">
          M-Pesa payment
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> 
    <div class="padding clsBtnShadowContainer">
      <button class="button button-assertive button-block rounded clsBtnShadow" ng-click="GotoOrderConfirmation()">MAKE PAYMENT</button>
    </div>
    </form>
  </ion-content>
</ion-view>