<ion-view title="Forgot Password" hide-nav-bar="true">
    <ion-content padding="false" scroll="true" class="clsOverallBg">
        <div class="">
            <div class="spacer" style="height: 30px;"></div>
                <div class="">
                    <img class="clsMainLogo" src="http://bit.ly/ETGMainLogo">
                </div>
            <div class="spacer" style="height: 20px;"></div>
        </div>
        <form class="list">
        <div class="item item-body clsMakeTransparentbg cls0Border clsETGLayout">

            <label class="item item-input" name="useremail">
                <input type="email" placeholder="Email">
            </label>

            <div class="spacer" style="height: 20px;"></div>

            <button id="forgotpassword-button" class="button button-assertive button-block rounded" ng-click="reset()">RESET</button>

            <div class="spacer" style="height: 20px;"></div>

            <h3>
                <center>
                    <a class="clsNoDecoration" ui-sref="login">BACK</a>  
                </center>
            </h3>
        </div>
        </form>
    </ion-content>
</ion-view>