<ion-view title="Login" hide-nav-bar="true">
    <ion-content padding="false" scroll="true" s class="clsOverallBg">
        <div class="spacer" style="height: 30px;"></div>
            <div class="">
                <img class="clsMainLogo" src="http://bit.ly/ETGMainLogo">
            </div>
        <div class="spacer" style="height: 20px;"></div>

        <form id="login-form" class="list">
            <div class="item item-body clsMakeTransparentbg cls0Border clsETGLayout">

                <label class="item item-input" name="email">
                    <input type="email" placeholder="Email">
                </label>

                <div class="spacer" style="height: 20px;"></div>

                <label class="item item-input" name="password">
                    <input type="password" placeholder="Password">
                </label>

                <div class="spacer" style="height: 25px;"></div>

                <button class="button button-assertive button-block rounded" ng-click="login()">
                LOG&nbsp;IN
                </button>

                <div class="spacer" style="height: 5px;"></div>

                <h3>
                    <center>
                        <a class="dark clsNoDecoration" ui-sref="forgotpassword">
                        Forgot&nbsp;Password?
                        </a>
                    </center>
                </h3>

                <div class="spacer" style="height: 90px;"></div>

                <h3 class="clsGreyColor">
                    <center>
                        Don't&nbsp;have&nbsp;an&nbsp;account?&nbsp;<a ui-sref="signup" class="assertive clsNoDecoration"><b>Sign Up</b></a>
                    </center>
                </h3>

            </div>
        </form>
    </ion-content>
</ion-view>