<!-- menu.html -->

<ion-side-menus>

<!--Drawer Changes-->
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-buttons side="left">
        <button menu-and-drawer-toggle class="button button-icon button-clear" menu-toggle="left">
        	<img src="http://bit.ly/ETGMenuIcon" class="clsMenuIcon">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-pane drawer-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>


    <!-- TABS -->
    <ion-tabs>
      <ion-tab icon-off="home" icon-on="homeSelected" ng-click="GotoShop()" href="#/menu/shop">
        <ion-nav-view name="tab-shop"></ion-nav-view>
      </ion-tab>

      <ion-tab icon-off="cart" icon-on="cartSelected" ng-click="GotoCart()" href="#/menu/cart">
        <ion-nav-view name="tab-cart"></ion-nav-view>
      </ion-tab>

      <ion-tab icon-off="orders" icon-on="ordersSelected" ng-click="GotoOrders()" href="#/menu/orders">
        <ion-nav-view name="tab-orders"></ion-nav-view>
      </ion-tab>

      <ion-tab icon-off="profile" icon-on="profileSelected" ng-click="GotoProfile()" href="#/menu/myprofile">
        <ion-nav-view name="tab-myprofile"></ion-nav-view>
      </ion-tab>
    </ion-tabs>


 <!--Drawer Changes-->
 	<drawer side="left" canDrag="true">
	    <ion-content has-header="false" class="clsRemoveHeader" style="top: 0px !important;" scroll="false">
	      <ion-list class="clsMenuList" ng-click="closeDrawer();">
	      	<ion-item class="clsMenuCloseBtn" menu-close>
		      	<span class="clsMakeContentRight">
	  				<i class="ion-ios-close-empty clsCloseBtn"></i>
	  			</span>
  			</ion-item>
	      	<ion-item class="clsMenuImgItem" menu-close>
	      		<img class="clsMenuLogo" src="http://bit.ly/ETGMainLogo">
	      	</ion-item>
	        <ion-item class="clsMenuItem item-icon-right" menu-close href="#/menu/shop">
	          Shop
            <i class="icon ion-chevron-right icon-accessory"></i>
	        </ion-item>
	        <ion-item class="clsMenuItem item-icon-right" menu-close href="#/menu/orders">
	          Orders
            <i class="icon ion-chevron-right icon-accessory"></i>
	        </ion-item>
	        <ion-item class="clsMenuItem item-icon-right" menu-close href="#/menu/myprofile">
	          Profile
            <i class="icon ion-chevron-right icon-accessory"></i>
	        </ion-item>
	        <ion-item class="clsMenuItem item-icon-right clsCustomMenuStruct" menu-close ng-click="GetLanguage()">
	          Language
            <i class="icon ion-chevron-right icon-accessory" style="color:#000;"></i>
	        </ion-item>
	        <ion-item class="clsMenuItem item-icon-right" menu-close href="#/menu">
	          Logout
	        </ion-item>
	      </ion-list>
	    </ion-content>
  	</drawer>
</ion-side-menus>
