<ion-view title="My Profile">
    <ion-content padding="false" class="has-header">
	    <ion-item class="clsProfileDisplay">
	        <div class="row">
	          	<div class="col col-90">

	          		<div class="row">
		                <div class="col clsMakeContentRight"><i class="ion-android-person clsCheckoutIcons"></i></div>
		                <div class="col col-90">
		                  <b>First name Last name</b>
		                </div>
	              	</div>

	              	<div class="row">
		                <div class="col clsMakeContentRight"><i class="ion-android-mail clsCheckoutIcons"></i></div>
		                <div class="col col-90">
		                  <b>firstname.lastname@gmail.com</b>
		                </div>
	              	</div>


	              	<div class="row" style="font-size: 15px">
		                <div class="col clsMakeContentRight"><i class="ion-location clsCheckoutIcons"></i></div>
		                <div class="col col-90">
		                  Elgon Road, Upper Hill,<br>
		                  Nairobi, Kenya<br>
		                  00100A
		                </div>
	              	</div>

	              	<div class="row" style="font-size: 15px">
		                <div class="col clsMakeContentRight"><i class="ion-ios-telephone clsCheckoutIcons"></i></div>
		                <div class="col col-90">
		                  00-000-0000
		                </div>
	              	</div>

	          	</div>
	          	<div class="col">
	              	<i class="ion-edit clsCheckoutIcons" ng-click="EditProfile()"></i>
	          	</div>
	        </div>
	    </ion-item>
    </ion-content>
</ion-view>