<ion-view title="Order Confirmation">
  <ion-nav-bar align-title="center" class="bar-light">
    
  </ion-nav-bar>

  <ion-content padding="false" scroll="true" class="has-header">
    <ion-item class="balanced text-center clsCheckoutHeaderItem">
      Successful order!
    </ion-item>
    
    <div class="spacer" style="height: 15px;"></div>

    <div class="clsSuccessMsgText">
      Your order number <br>
      <span class="balanced clsOrderNumber">1403404PKP8052792</span></br>
      is successful!
    </div>

    <div class="spacer" style="height: 15px;"></div>

    <img src="http://bit.ly/DeliveryImage" class="clsDeliveryImage">

    <div class="spacer" style="height: 15px;"></div>

    <div class="clsSuccessMsgText">
      Scheduled Arrival date <br>
      <span class="balanced">Saturday, June 29</span>
    </div>

    <div class="padding clsBtnShadowContainer">
      <button class="button button-assertive button-block rounded clsBtnShadow" ng-click="GotoShop()">CONTINUE SHOPPING</button>
    </div>
  </ion-content>
</ion-view>