<ion-view title="My Orders" id="page5" class=" ">
    <ion-content padding="false" scroll="true" class="has-header">
        <ion-list>
            <ion-item class="item-icon-right clsOrders" ng-click="ShowOrderDetail()">
                <div class="row">
                    <div class="col col-20 clsOrderDateMonth">
                        <span class="clsOrderDate">16</span>
                        <div class="spacer" style="height: 3px;"></div>
                        <span class="assertive clsOrderMonth">June</span>
                    </div>
                    <div class="col col-50">
                        <span class="balanced clsOrderDetailNumber">1403404PKP8052792</span>
                        <div class="spacer" style="height: 7px;"></div>
                        <div class="clsStatusCount row cls0Padding">
                            <div class="col col-40 cls0Padding">
                                Item:&nbsp;<span class="assertive">6</span>
                            </div>
                            <div class="col col-40 cls0Padding">
                                <span class="balanced clsMakeContentRight">In progress</span>
                            </div>
                            <div class="col col-20 cls0Padding">
                            </div>
                        </div>
                    </div>
                    <div class="col col-25 clsOrderPrice">
                        <span class="assertive">2072 Ksh</span>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right clsOrders">
                <div class="row">
                    <div class="col col-20 clsOrderDateMonth">
                        <span class="clsOrderDate">10</span>
                        <div class="spacer" style="height: 3px;"></div>
                        <span class="assertive clsOrderMonth">June</span>
                    </div>
                    <div class="col col-50">
                        <span class="balanced clsOrderDetailNumber">1403404PKP8052792</span>
                        <div class="spacer" style="height: 7px;"></div>
                        <div class="clsStatusCount row cls0Padding">
                            <div class="col col-40 cls0Padding">
                                Item:&nbsp;<span class="assertive">12</span>
                            </div>
                            <div class="col col-40 cls0Padding">
                                <span class="clsMakeContentRight">Delivered</span>
                            </div>
                            <div class="col col-20 cls0Padding">
                            </div>
                        </div>
                    </div>
                    <div class="col col-25 clsOrderPrice">
                        <span class="assertive">2800 Ksh</span>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right clsOrders">
                <div class="row">
                    <div class="col col-20 clsOrderDateMonth">
                        <span class="clsOrderDate">8</span>
                        <div class="spacer" style="height: 3px;"></div>
                        <span class="assertive clsOrderMonth">June</span>
                    </div>
                    <div class="col col-50">
                        <span class="balanced clsOrderDetailNumber">1403404PKP8052792</span>
                        <div class="spacer" style="height: 7px;"></div>
                        <div class="clsStatusCount row cls0Padding">
                            <div class="col col-40 cls0Padding">
                                Item:&nbsp;<span class="assertive">1</span>
                            </div>
                            <div class="col col-40 cls0Padding">
                                <span class="clsMakeContentRight">Returned</span>
                            </div>
                            <div class="col col-20 cls0Padding">
                            </div>
                        </div>
                    </div>
                    <div class="col col-25 clsOrderPrice">
                        <span class="assertive">5502 Ksh</span>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>