<ion-view title="Order Detail">
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="GoBack()" >
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="false" scroll="true" class="has-header">
    <form>
    <div class="balanced clsCartSummary text-center"><b>1403404PKP8052792</b></div>
     <ion-list>
        <ion-item style="font-size: 13.5px; padding:10px;">
            <span>Order Placed on: <span class="assertive">16/6/2016</span></span>
            <span class="balanced clsMakeContentRight">In progress</span>
        </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="balanced clsCartItemTitle">UREA (Prilled / Granular)</div>
                  <div class="row cls0Padding">
                    <div class="col col-40 assertive cls0Padding clsCartItemQuantity">
                    100&nbsp;KGS
                    </div>
                    <div class="col col-60 cls0Padding">
                    Delivered from <span class="assertive">Nairobi</span>
                    </div>
                  </div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice">
                    <div class="row">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">650&nbsp;Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="balanced clsCartItemTitle">CALCIUM AMMONIUM NITRATE</div>
                  <div class="row cls0Padding">
                    <div class="col col-40 assertive cls0Padding clsCartItemQuantity">
                    100&nbsp;Litre
                    </div>
                    <div class="col col-60 cls0Padding">
                    Delivered from <span class="assertive">Nairobi</span>
                    </div>
                  </div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice">
                    <div class="row">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">630&nbsp;Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="balanced clsCartItemTitle">AMMOUNIUM NITRATE</div>
                  <div class="row cls0Padding">
                    <div class="col col-40 assertive cls0Padding clsCartItemQuantity">
                    100&nbsp;KGS
                    </div>
                    <div class="col col-60 cls0Padding">
                    Delivered from <span class="assertive">Nairobi</span>
                    </div>
                  </div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice">
                    <div class="row">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">750&nbsp;Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="dark clsCartItemMainLabel">Sub Total</div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice clsCartItemMainPrice">
                    <div class="row cls0Padding">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">2030&nbsp;Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="dark clsCartItemMainLabel">Tax</div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice clsCartItemMainPrice">
                    <div class="row cls0Padding">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">42&nbsp;Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
      <ion-item class="clsOrderItem cls0Padding">
          <div class="row cls0Padding">
              <div class="col col-75 clsCartItemContent cls10Padding">
                  <div class="dark clsCartItemMainLabel">Total</div>
              </div>
              <div class="col col-25">
                  <div class="clsCartItemPrice clsCartItemMainPrice">
                    <div class="row cls0Padding">
                      <div class="col col-75 cls0Padding">
                        <span class="assertive">2072&nbsp;Ksh</span>
                      </div>
                      <div class="col col-25 cls0Padding">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </ion-item>
    </ion-list>
    <div class="padding clsBtnShadowContainer">
      <button class="button button-assertive button-block rounded clsBtnShadow" ng-click="CancelOrder()">CANCEL ORDER</button>
    </div>
    </form>
  </ion-content> 
</ion-view>
