<ion-view title="Nitrogen Fertilizer">
  <ion-nav-buttons side="left">
    <button class="button button-clear clsMakeMargin" ng-click="GoBack()" >
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="ProductsList()" >
      <img src="https://s20.postimg.org/u6hj9d1el/list_view.png" class="clsMenuIcon">
      </button>
      <button class="button button-clear" ng-click="" >
      <img src="https://s20.postimg.org/ofmrhw40t/filter.png" class="clsMenuIcon">
      </button>
  </ion-nav-buttons>
    <ion-content padding="false" scroll="true" class="has-header">
      <div class="item item-input-inset clsSearchItem">
        <label class="item-input-wrapper clsSearchItemWrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" id="inSearch" placeholder="Search for any product">
        </label>
      </div>
      <ion-item class="clsMainCategories">
        <div class="row">
          <div class="col">
            <span id='1' ng-class='{"assertive" : CatId == 1}' ng-click='CatId=1; ShowItems(1)'>ALL ITEMS</span>
          </div>
          <div class="col">
            <span id='2' ng-class='{"assertive" : CatId == 2}' ng-click='CatId=2; ShowItems(2)'>NITROGEN</span>
          </div>
          <div class="col">
            <span id='3' ng-class='{"assertive" : CatId == 3}' ng-click='CatId=3; ShowItems(3)'>PHOSPATE</span>
          </div>
          <div class="col">
            <span id='4' ng-class='{"assertive" : CatId == 4}' ng-click='CatId=4; ShowItems(4)'>POTASH</span>
          </div>
        </div>
      </ion-item>
        <form class="list cls0Padding">

        <!-- below div is a loopable item using ng-repeat 
            and a function to handle onclick based on selection -->

            <div class="item item-body cls0Padding clsLightBorder" ng-show="AllItems">
                <div class="row cls0Padding clsProductGridRow">
                    <div class="col col-50 clsProductGrid" ng-click="ShowDetail()">
                      <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                      <br>
                      <div class="clsProductImageContainer">
                        <img class="clsProductImage" src="https://s20.postimg.org/txt5ax3dp/product_detail_image.jpg">
                      </div>
                      <div class="clsProductGridTitle balanced">UREA&nbsp;(Prilled&nbsp;/&nbsp;Granular)</div>
                      <div class="row cls0Padding">
                        <div class="col col-60 clsProductPriceTag cls0Padding">
                          <span class="clsMakeContentLeft">
                            Starting at <span class="assertive clsProductPrice1">65 Ksh</span>
                          </span>
                        </div>
                        <div class="col col-40 cls0Padding">
                          <span class="clsMakeContentRight">
                            <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col col-50 clsProductGrid">
                      <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                      <br>
                      <div class="clsProductImageContainer">
                        <img class="clsProductImage" src="https://s20.postimg.org/rqowmzy3h/phosphate_fertilizer.jpg">
                      </div>
                      <div class="clsProductGridTitle balanced">CALCIUM AMMONIUM</div>
                      <div class="row cls0Padding">
                        <div class="col col-60 clsProductPriceTag cls0Padding">
                          <span class="clsMakeContentLeft">
                            Starting at <span class="assertive clsProductPrice1">60 Ksh</span>
                          </span>
                        </div>
                        <div class="col col-40 cls0Padding">
                          <span class="clsMakeContentRight">
                            <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row cls0Padding clsProductGridRow">
                    <div class="col col-50 clsProductGrid">
                      <span class="assertive clsMakeContentRight"><i class="ion-record"></i></span>
                      <br>
                      <div class="clsProductImageContainer">
                        <img class="clsProductImage" src="https://s20.postimg.org/fsiqvd4yl/Ammonium_nitrate.jpg">
                      </div>
                      <div class="clsProductGridTitle balanced">AMMONIUM NITRATE</div>
                      <div class="row cls0Padding">
                        <div class="col col-60 clsProductPriceTag cls0Padding">
                          <span class="clsMakeContentLeft">
                            Starting at <span class="assertive clsProductPrice1">50 Ksh</span>
                          </span>
                        </div>
                        <div class="col col-40 cls0Padding">
                          <span class="clsMakeContentRight">
                            <button class="button button-balanced button-small clsBtnSmall" disabled="">ADD</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col col-50 clsProductGrid">
                      <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                      <br>
                      <div class="clsProductImageContainer">
                        <img class="clsProductImage" src="https://s20.postimg.org/69921whgd/Ammonium_sulphate.jpg">
                      </div>
                      <div class="clsProductGridTitle balanced">AMMONIUM SULPHATE</div>
                      <div class="row cls0Padding">
                        <div class="col col-60 clsProductPriceTag cls0Padding">
                          <span class="clsMakeContentLeft">
                            Starting at <span class="assertive clsProductPrice1">58 Ksh</span>
                          </span>
                        </div>
                        <div class="col col-40 cls0Padding">
                          <span class="clsMakeContentRight">
                            <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row cls0Padding clsProductGridRow">
                    <div class="col col-50 clsProductGrid" ng-click="ShowDetail()">
                      <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                      <br>
                      <div class="clsProductImageContainer">
                        <img class="clsProductImage" src="https://s20.postimg.org/txt5ax3dp/product_detail_image.jpg">
                      </div>
                      <div class="clsProductGridTitle balanced">UREA&nbsp;(Prilled&nbsp;/&nbsp;Granular)</div>
                      <div class="row cls0Padding">
                        <div class="col col-60 clsProductPriceTag cls0Padding">
                          <span class="clsMakeContentLeft">
                            Starting at <span class="assertive clsProductPrice1">65 Ksh</span>
                          </span>
                        </div>
                        <div class="col col-40 cls0Padding">
                          <span class="clsMakeContentRight">
                            <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col col-50 clsProductGrid">
                      <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                      <br>
                      <div class="clsProductImageContainer">
                        <img class="clsProductImage" src="https://s20.postimg.org/rqowmzy3h/phosphate_fertilizer.jpg">
                      </div>
                      <div class="clsProductGridTitle balanced">CALCIUM AMMONIUM</div>
                      <div class="row cls0Padding">
                        <div class="col col-60 clsProductPriceTag cls0Padding">
                          <span class="clsMakeContentLeft">
                            Starting at <span class="assertive clsProductPrice1">60 Ksh</span>
                          </span>
                        </div>
                        <div class="col col-40 cls0Padding">
                          <span class="clsMakeContentRight">
                            <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row cls0Padding clsProductGridRow">
                    <div class="col col-50 clsProductGrid">
                      <span class="assertive clsMakeContentRight"><i class="ion-record"></i></span>
                      <br>
                      <div class="clsProductImageContainer">
                        <img class="clsProductImage" src="https://s20.postimg.org/fsiqvd4yl/Ammonium_nitrate.jpg">
                      </div>
                      <div class="clsProductGridTitle balanced">AMMONIUM NITRATE</div>
                      <div class="row cls0Padding">
                        <div class="col col-60 clsProductPriceTag cls0Padding">
                          <span class="clsMakeContentLeft">
                            Starting at <span class="assertive clsProductPrice1">50 Ksh</span>
                          </span>
                        </div>
                        <div class="col col-40 cls0Padding">
                          <span class="clsMakeContentRight">
                            <button class="button button-balanced button-small clsBtnSmall" disabled="">ADD</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col col-50 clsProductGrid">
                      <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                      <br>
                      <div class="clsProductImageContainer">
                        <img class="clsProductImage" src="https://s20.postimg.org/69921whgd/Ammonium_sulphate.jpg">
                      </div>
                      <div class="clsProductGridTitle balanced">AMMONIUM SULPHATE</div>
                      <div class="row cls0Padding">
                        <div class="col col-60 clsProductPriceTag cls0Padding">
                          <span class="clsMakeContentLeft">
                            Starting at <span class="assertive clsProductPrice1">58 Ksh</span>
                          </span>
                        </div>
                        <div class="col col-40 cls0Padding">
                          <span class="clsMakeContentRight">
                            <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="item item-body cls0Border" ng-show="NoResults">
              <center>No results found.</center>
            </div>
        </form>
    </ion-content>
</ion-view>