<ion-view title="Nitrogen Fertilizer">
  <ion-nav-buttons side="left">
    <button class="button button-clear clsMakeMargin" ng-click="GoBack()" >
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="ProductsGrid()" >
      <img src="https://s20.postimg.org/xotj5r2al/grid_view.png" class="clsMenuIcon">
      </button>
      <button class="button button-clear" ng-click="" >
      <img src="https://s20.postimg.org/ofmrhw40t/filter.png" class="clsMenuIcon">
      </button>
  </ion-nav-buttons>
    <ion-content padding="false" scroll="true" class="has-header">
      <div class="item item-input-inset clsSearchItem">
        <label class="item-input-wrapper clsSearchItemWrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" id="inSearch" placeholder="Search for any product">
        </label>
      </div>

      <ion-item class="clsMainCategories">
        <div class="row">
          <div class="col">
            <span id='1' ng-class='{"assertive" : CatId == 1}' ng-click='CatId=1; ShowItems(1)'>ALL ITEMS</span>
          </div>
          <div class="col">
            <span id='2' ng-class='{"assertive" : CatId == 2}' ng-click='CatId=2; ShowItems(2)'>NITROGEN</span>
          </div>
          <div class="col">
            <span id='3' ng-class='{"assertive" : CatId == 3}' ng-click='CatId=3; ShowItems(3)'>PHOSPATE</span>
          </div>
          <div class="col">
            <span id='4' ng-class='{"assertive" : CatId == 4}' ng-click='CatId=4; ShowItems(4)'>POTASH</span>
          </div>
        </div>
      </ion-item>

        <form class="list" ng-show="AllItems">
        
            <!-- below div is a loopable item using ng-repeat 
            and a function to handle onclick based on selection -->

            <div class="item item-body cls0Padding" ng-click="ShowDetail()">
              <div class="row">
                <div class="col col-33">
                  <div class="clsProductImageContainer">
                    <img class="clsProductImage" src="https://s20.postimg.org/txt5ax3dp/product_detail_image.jpg">
                  </div>
                </div>
                <div class="col col-67">
                <!-- for showing availablity pass classes 
                'balanced' is available or green color
                'assertive is not available or red color' in the below span for those loops-->
                  <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                  <div class="clsProductGridTitle2 balanced">UREA (Prilled&nbsp;/&nbsp;Granular)</div>
                  <div class="clsProductDescription">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                  </div>
                  <div class="row cls0Padding">
                    <div class="col col-60 clsProductPriceTag cls0Padding">
                      <span class="clsMakeContentLeft">
                        Starting at <span class="assertive clsProductPrice1">65 Ksh</span>
                      </span>
                    </div>
                    <div class="col col-40 cls0Padding">
                      <span class="clsMakeContentRight">
                        <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                      </span>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-body cls0Padding">
              <div class="row">
                <div class="col col-33">
                  <div class="clsProductImageContainer">
                    <img class="clsProductImage" src="https://s20.postimg.org/rqowmzy3h/phosphate_fertilizer.jpg">
                  </div>
                </div>
                <div class="col col-67">
                  <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                  <div class="clsProductGridTitle2 balanced">CALCIUM AMMONIUM</div>
                  <div class="clsProductDescription">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                  </div>
                    <div class="row cls0Padding">
                      <div class="col col-60 clsProductPriceTag cls0Padding">
                        <span class="clsMakeContentLeft">
                          Starting at <span class="assertive clsProductPrice1">60 Ksh</span>
                        </span>
                      </div>
                      <div class="col col-40 cls0Padding">
                        <span class="clsMakeContentRight">
                          <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-body cls0Padding">
              <div class="row">
                <div class="col col-40">
                  <div class="clsProductImageContainer">
                    <img class="clsProductImage" src="https://s20.postimg.org/fsiqvd4yl/Ammonium_nitrate.jpg">
                  </div>
                </div>
                <div class="col col-60">
                  <span class="assertive clsMakeContentRight"><i class="ion-record"></i></span>
                  <div class="clsProductGridTitle2 balanced">AMMONIUM NITRATE</div>
                  <div class="clsProductDescription">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                  </div>
                  <div class="row cls0Padding">
                    <div class="col col-60 clsProductPriceTag cls0Padding">
                      <span class="clsMakeContentLeft">
                        Starting at <span class="assertive clsProductPrice1">50 Ksh</span>
                      </span>
                    </div>
                    <div class="col col-40 cls0Padding">
                      <span class="clsMakeContentRight">
                        <button class="button button-balanced button-small clsBtnSmall" disabled="">ADD</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-body cls0Padding">
              <div class="row">
                <div class="col col-40">
                  <div class="clsProductImageContainer">
                    <img class="clsProductImage" src="https://s20.postimg.org/69921whgd/Ammonium_sulphate.jpg">
                  </div>
                </div>
                <div class="col col-60">
                  <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                  <div class="clsProductGridTitle2 balanced">AMMONIUM SULPHATE</div>
                  <div class="clsProductDescription">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                  </div>
                  <div class="row cls0Padding">
                    <div class="col col-60 clsProductPriceTag cls0Padding">
                      <span class="goleft">
                        Starting at <span class="assertive clsProductPrice1">58 Ksh</span>
                      </span>
                    </div>
                    <div class="col col-40 cls0Padding">
                      <span class="clsMakeContentRight">
                        <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item item-body cls0Padding" ng-click="ShowDetail()">
              <div class="row">
                <div class="col col-33">
                  <div class="clsProductImageContainer">
                    <img class="clsProductImage" src="https://s20.postimg.org/txt5ax3dp/product_detail_image.jpg">
                  </div>
                </div>
                <div class="col col-67">
                <!-- for showing availablity pass classes 
                'balanced' is available or green color
                'assertive is not available or red color' in the below span for those loops-->
                  <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                  <div class="clsProductGridTitle2 balanced">UREA (Prilled&nbsp;/&nbsp;Granular)</div>
                  <div class="clsProductDescription">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                  </div>
                  <div class="row cls0Padding">
                    <div class="col col-60 clsProductPriceTag cls0Padding">
                      <span class="clsMakeContentLeft">
                        Starting at <span class="assertive clsProductPrice1">65 Ksh</span>
                      </span>
                    </div>
                    <div class="col col-40 cls0Padding">
                      <span class="clsMakeContentRight">
                        <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                      </span>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-body cls0Padding">
              <div class="row">
                <div class="col col-33">
                  <div class="clsProductImageContainer">
                    <img class="clsProductImage" src="https://s20.postimg.org/rqowmzy3h/phosphate_fertilizer.jpg">
                  </div>
                </div>
                <div class="col col-67">
                  <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                  <div class="clsProductGridTitle2 balanced">CALCIUM AMMONIUM</div>
                  <div class="clsProductDescription">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                  </div>
                    <div class="row cls0Padding">
                      <div class="col col-60 clsProductPriceTag cls0Padding">
                        <span class="clsMakeContentLeft">
                          Starting at <span class="assertive clsProductPrice1">60 Ksh</span>
                        </span>
                      </div>
                      <div class="col col-40 cls0Padding">
                        <span class="clsMakeContentRight">
                          <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-body cls0Padding">
              <div class="row">
                <div class="col col-40">
                  <div class="clsProductImageContainer">
                    <img class="clsProductImage" src="https://s20.postimg.org/fsiqvd4yl/Ammonium_nitrate.jpg">
                  </div>
                </div>
                <div class="col col-60">
                  <span class="assertive clsMakeContentRight"><i class="ion-record"></i></span>
                  <div class="clsProductGridTitle2 balanced">AMMONIUM NITRATE</div>
                  <div class="clsProductDescription">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                  </div>
                  <div class="row cls0Padding">
                    <div class="col col-60 clsProductPriceTag cls0Padding">
                      <span class="clsMakeContentLeft">
                        Starting at <span class="assertive clsProductPrice1">50 Ksh</span>
                      </span>
                    </div>
                    <div class="col col-40 cls0Padding">
                      <span class="clsMakeContentRight">
                        <button class="button button-balanced button-small clsBtnSmall" disabled="">ADD</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-body cls0Padding">
              <div class="row">
                <div class="col col-40">
                  <div class="clsProductImageContainer">
                    <img class="clsProductImage" src="https://s20.postimg.org/69921whgd/Ammonium_sulphate.jpg">
                  </div>
                </div>
                <div class="col col-60">
                  <span class="balanced clsMakeContentRight"><i class="ion-record"></i></span>
                  <div class="clsProductGridTitle2 balanced">AMMONIUM SULPHATE</div>
                  <div class="clsProductDescription">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                  </div>
                  <div class="row cls0Padding">
                    <div class="col col-60 clsProductPriceTag cls0Padding">
                      <span class="goleft">
                        Starting at <span class="assertive clsProductPrice1">58 Ksh</span>
                      </span>
                    </div>
                    <div class="col col-40 cls0Padding">
                      <span class="clsMakeContentRight">
                        <button class="button button-balanced button-small clsBtnSmall">ADD</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
        <div class="list" ng-show="NoResults">
          <div class="item item-body cls0Border">
            <center>No results found.</center>
          </div>
        </div>
    </ion-content>
</ion-view>