<ion-view title="Nitrogen Fertilizer">
  <ion-nav-buttons side="left">
    <button class="button button-clear clsMakeMargin" ng-click="GoBack()" >
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>

    <ion-content padding="false" scroll="true" class="has-header">

    <div class="spacer" style="height: 15px;"></div>
    <div class="clsSuccessMsgText">
      <span class="balanced clsOrderNumber">UREA (Prilled&nbsp;/&nbsp;Granular)</span>
    </div>
    <div class="spacer" style="height: 20px;"></div>

    <img class="clsSingleProductImage" src="https://s20.postimg.org/txt5ax3dp/product_detail_image.jpg">

    <div class="row cls0Padding">
      <div class="col col-50 cls0Padding"></div>
      <div class="col col-50 cls0Padding">
      <div class="clsMakeContentRight">
        <span class="clsProductStock">Available</span>
      </div>
      </div>
    </div>

    <div class="spacer" style="height: 15px;"></div>
    <div class="clsSuccessMsgText">
      <span class="assertive clsOrderNumber2">65 Ksh</span>
    </div>
    <div class="spacer" style="height: 15px;"></div>

    <div class="row cls10Padding">
    <div class="col col-10"></div>
    <div class="col col-50">
      <span class="goleft">
        Quantity <br>
        <span class="balanced clsProductPrice"><span class="clsMakeBottomBorder">1000</span>&nbsp;&nbsp;<span class="clsMakeBottomBorder">Grams&nbsp;<i class="ion-android-arrow-dropdown" style="font-size: 12px;"></i></span></span>
      </span>
    </div>
    <div class="col col-40">
      <span class="goright">
        Delivered from <br>
        <span class="balanced clsProductPrice" style="
    margin-left: 20px;">Nairobi</span>
      </span>
    </div>
    </div>

    <div class="padding clsBtnShadowContainer">
      <button class="button button-assertive button-block rounded clsBtnShadow" ng-click="GotoCart()">ADD TO CART</button>
    </div>

    <div class="row">
      <div class="col cls10Padding clsMakeTextJustify">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </div>
    </div>
    </ion-content>
</ion-view>