<ion-view title="Shop" hide-nav-bar="false" class=" ">
	<ion-nav-buttons side="right">
	    <button class="button button-clear" ng-click="GetLocation()" >
	    <img src="http://bit.ly/LocationIcon" class="clsMenuIcon">
	    </button>
	</ion-nav-buttons>
    <ion-content padding="false" scroll="true" class="has-header">
	    <div class="item item-input-inset clsSearchItem">
			<label class="item-input-wrapper clsSearchItemWrapper">
			  <i class="icon ion-search placeholder-icon"></i>
			  <input type="search" id="inSearch" placeholder="Search for any product">
			</label>
		</div>
        <ion-slide-box on-slide-changed="slideChanged(index)" does-continue="true" auto-play="true">

          <!-- slider values can be in loop with ng-repeat function on below tag -->
          <ion-slide>
            <div class="" style="background: url(http://bit.ly/SliderImage1) no-repeat center;background-size:cover;">
                <div class="spacer" style="height: 200px;"></div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="" style="background: url(http://bit.ly/SliderImage1) no-repeat center;background-size:cover;">
                <div class="spacer" style="height: 200px;"></div>
            </div>
          </ion-slide>
        </ion-slide-box>
        <div class="">
        	<center><h4>Check out our Fertilizers</h4></center>
        </div>
        <form class="list cls0Padding">
            <div class="item item-body cls0Padding cls0Border">
                <div class="row cls0Padding">
                    <div class="col col-50 clsGrid" style="background: url(http://bit.ly/NitrogenFertilizer) no-repeat center;background-size: cover;" ng-click="GotoProducts()">
                        <div class="clsGridOverlay"><span class="clsGridTitle">Nitrogen Fertilizer</span></div>
                    </div>
                    <div class="col col-50 clsGrid" style="background: url(http://bit.ly/PhosphateFertilizer) no-repeat center;background-size: cover;" ng-click="GotoProducts()">
                        <div class="clsGridOverlay"><span class="clsGridTitle">Phosphate Fertilizer</span></div>
                    </div>
                </div>
                <div class="row cls0Padding">
                    <div class="col col-50 clsGrid" style="background: url(http://bit.ly/PotashFertilizer) no-repeat center;background-size: cover;" ng-click="GotoProducts()">
                        <div class="clsGridOverlay"><span class="clsGridTitle">Potash Fertilizer</span></div>
                    </div>
                    <div class="col col-50 clsGrid" style="background: url(http://bit.ly/NPKFertilizer) no-repeat center;background-size: cover;" ng-click="GotoProducts()">
                        <div class="clsGridOverlay"><span class="clsGridTitle">NPK Fertilizers</span></div>
                    </div>
                </div>
                <div class="row cls0Padding">
                    <div class="col col-50 clsGrid" style="background: url(http://bit.ly/NitrogenFertilizer) no-repeat center;background-size: cover;" ng-click="GotoProducts()">
                        <div class="clsGridOverlay"><span class="clsGridTitle">Nitrogen Fertilizer</span></div>
                    </div>
                    <div class="col col-50 clsGrid" style="background: url(http://bit.ly/PhosphateFertilizer) no-repeat center;background-size: cover;" ng-click="GotoProducts()">
                        <div class="clsGridOverlay"><span class="clsGridTitle">Phosphate Fertilizer</span></div>
                    </div>
                </div>
                <div class="row cls0Padding">
                    <div class="col col-50 clsGrid" style="background: url(http://bit.ly/PotashFertilizer) no-repeat center;background-size: cover;" ng-click="GotoProducts()">
                        <div class="clsGridOverlay"><span class="clsGridTitle">Potash Fertilizer</span></div>
                    </div>
                    <div class="col col-50 clsGrid" style="background: url(http://bit.ly/NPKFertilizer) no-repeat center;background-size: cover;" ng-click="GotoProducts()">
                        <div class="clsGridOverlay"><span class="clsGridTitle">NPK Fertilizers</span></div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>