<ion-view title="Sign Up" hide-nav-bar="true">
    <ion-content padding="false" class="clsOverallBg">
        <div class="">
            <div class="spacer" style="height: 30px;"></div>
            <div class="">
                <img class="clsMainLogo" src="http://bit.ly/ETGMainLogo">
            </div>
        </div>
        <form class="list">
        <div class="item item-body clsMakeTransparentbg cls0Border clsETGLayout">

            <label class="item item-input" name="name">
                <input type="text" placeholder="Name">
            </label>

            <div class="spacer" style="height: 20px;"></div>

            <label class="item item-input" name="email">
                <input type="email" placeholder="Email">
            </label>

            <div class="spacer" style="height: 20px;"></div>

            <label class="item item-input" name="password">
                <input type="password" placeholder="Password">
            </label>

            <div class="spacer" style="height: 20px;"></div>

            <label class="item item-input" name="phone">
                <input type="tel" placeholder="Phone number">
            </label>  

            <div class="spacer" style="height: 20px;"></div>

            <label class="item item-input" name="address">                        
                <textarea rows="4" placeholder="Address" ></textarea>
            </label>

            <div class="spacer" style="height: 20px;"></div>

            <button id="signup-button" class=" button button-assertive button-block rounded" ng-click="signup()">
                SIGN&nbsp;UP
            </button>

            <h3 class="clsGreyColor">
                <center>
                    Already&nbsp;have&nbsp;an&nbsp;account?&nbsp;<a ui-sref="login" class="assertive clsNoDecoration"><b>Sign&nbsp;In</b> </a>
                </center>
            </h3>
        </div>
        </form>
    </ion-content>
</ion-view>