/* * * Custom Styles * * */

/*
* @font
*/

* {
    font-family: 'ArconRegular' !important;
}

/*
* @menu Menu Navigation Icon
*/
img.clsMenuIcon {
	height: 25px;
}

img.clsMenuLogo {
	height: 60px;
	width: auto;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

ion-item.clsMenuCloseBtn {
	padding: 0px;
	border: none;
	padding-right: 10px;
	background: transparent;
}

ion-item.clsMenuImgItem {
	border: none;
	background: transparent;
	padding-top: 0px;
}

ion-item.clsMenuItem.item-icon-right.item.item-complex {
    background: transparent;
    color: #000;
    border-color: #dbdbdb;
    border-top: none;
    border-right: none;
}

ion-item.clsMenuItem.item-icon-right.item {
    background: transparent;
    color: #000;
    border-color: #dbdbdb;
    font-size: 14px;
}

ion-item.clsMenuItem a.item-content .icon-accessory {
    color: #000;
}

i.clsCloseBtn {
	color: #000;
	font-size: 22px;
}

.clsRemoveHeader {
	top: 0px !important;
	background: transparent;
}

.clsCustomMenuStruct {
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
* Transparent Background
*/
.clsMakeTransparentbg {
	background: transparent !important;
}

/*
* @tab bottom tab menu
*/
.tab-nav.tabs {
    height: 60px;
    padding-top: 17px;
    background: white;
}

.a.tab-item.tab-item-active {
	border: none;
}

/*
* @header bar-header customization
*/
.bar-header{
  padding-top:14px ;
  height: 60px !important; 
}

.platform-ios .bar-header{
  padding-top: 14px !important;
  height: 80px !important;
}

.title .title-center .header-item{
  top: 14px;
}

.platform-ios .title .title-center .header-item{
  top: 14px !important;
}

.bar .title {
	top:10px;
}

.platform-ios .bar .title {
    top: 10px !important;
}

.has-header{
  top: 60px;
}

.platform-ios .has-header{
  top: 80px !important;
}


.bar .buttons-right span {
    margin-top: 10px;
    margin-right: 5px;
}

.platform-ios .bar .buttons-right span {
    margin-top: 10px !important;
    margin-right: 5px !important;
}

/*
* -->shop page - Customization
*/
div.clsGrid {
	height: 140px;
    padding: 1px;
}

.row.cls0Padding.clsProductGridRow {
	margin-top: 0px;
}

div.clsGridOverlay {
	text-align: center;
    padding: 1px;
    height: 37px;
    vertical-align: middle;
    position: relative;
    background-color: rgba(212,0,0,0.5);
    color: #fff;
    width: 100%;
    top:96px;
}

span.clsGridTitle {
    font-weight: 400;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 18px;
}

.clsProductStock {
    background-color: #39AF61;
    color: #fff;
    padding: 0px 5px 0px 5px;
}

/*
* -->Padding - Customization
*/
.cls0Padding {
	padding: 0px;
}

.cls10Padding {
	padding: 10px;
}

.cls8Padding {
	padding: 8px;
}

/*
* -->Search Bar - Customization
*/
.clsSearchItem {
	padding:3px; 
	background: #D40000;
}

.clsSearchItemWrapper {
 	text-align: center; 
 	background: #fff;
}

/*
* -->No Border - Customization
*/
.cls0Border {
	border: none;
}

/*
* -->Cart page - Customization
*/
.clsOrderItem {
    white-space: normal !important;
    font-size: 14px;
}

.clsCartItemContent {
	border-right: 1px #e8e8e8 solid;
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

.clsCartItemTitle {
	font-size: 13.5px;
	padding-bottom: 10px;
    font-weight: 700;
}

.clsCartItemMainLabel {
	font-size: 14px;
    font-weight: 600;
    text-align: right;
}

.clsCartSummary {
	padding:10px;
}

.clsCartItemPrice {
	padding-top: 15px;
	text-align: right;
	vertical-align: middle;
	font-size: 13.5px;
    font-weight: 700;
}

.clsCartItemMainPrice {
	padding-top: 5px;
}

.clsCartItemQuantity {
    font-weight: 700;
}

i.icon.ion-android-close.clsCartCloseIcon {
    padding: 5px;
}

.clsBtnShadow {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.clsBtnShadowContainer {
	padding: 25px;
}

/*
* @Value Float alignment
*/
.clsMakeContentRight {
	float: right;
}

.clsMakeContentLeft {
	float: left;
}

/*
* @Full Height
*/
.clsMakeFullHeight {
	height: 100%;
}


/*
* -->Checkout page - Customization
*/
.clsCheckoutHeaderItem.item {
    font-size: 15px;
    padding: 7px;
    font-weight: 700;
}

.clsCheckoutAddressText {
	font-size: 14px;
}

.clsOrderNumber {
	font-size: 16px;
	font-weight: 700;
}

.clsOrderDetailNumber {
    font-size: 14px;
    font-weight: 700;
}

.clsOrderNumber2 {
    font-size: 17px;
    font-weight: 700;
}

.clsCheckoutIcons {
	float: right;
    font-size: larger;
}

.clsSuccessMsgText {
	font-size: 15px;
	text-align: center;
	padding: 10px;
    line-height: 23px;
}

.clsDeliveryImage {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.clsOrders {
	padding:0px;
	padding-right: 12px;
}

.clsOrderDateMonth {
	text-align: center; 
	max-width: 18%;
}

.clsOrderDate {
	color: #000; 
	font-size: 25px;
}

.clsOrderMonth {
	font-size: 12px;
}

.clsStatusCount {
	font-size: 11.5px;
}

.clsOrderPrice {
	text-align: center; 
	margin-top: 14px;
	font-size: 14px;
    font-weight: 700;
}

.clsOrderStatus {
	margin-left: 30px;
}

.clsPayMethodText {
    padding-left: 23px;
}

/*
* -->MyProfile page - Customization
*/
.clsProfileDisplay {
	font-size: 14px;
}

/*
* -->Products page - Customization
*/
.clsMainCategories {
	font-size: 14px;
	padding: 0px;
    font-weight: 700;
}

div.clsProductGrid {
	height: 220px;
    padding: 10px;
    border: 1px #f2f2f2 solid;
}

.clsProductGridTitle {
	font-size: 14px;
	text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}

.clsProductGridTitle2 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.clsProductImage {
	width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.clsSingleProductImage {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.clsProductImageContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.clsProductPrice {
	font-size: 16px;
	font-weight: 700;
}

.clsProductPrice1 {
    font-size: 12px;
    font-weight: 700;
}

.clsProductPriceTag {
	font-size: 10px;
}

.clsBtnSmall {
    font-size: 12px;
    height: 15px;
    min-height: 20px;
    padding: 0px 10px 0px;
    line-height: 20px;
}

.clsProductDescription {
	height: 60px;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/**
 * Rounded Border for Buttons
 */
.rounded {
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px; 
}


/*
* -->Login, Signup, Forgot Password pages - Customization
*/
.clsETGLayout {
    padding: 30px;
}

.clsNoDecoration {
    text-decoration: none;
}


img.clsMainLogo {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    height: 50%;
    width: 50%;
}

.clsOverallBg {
    background: url(https://s20.postimg.org/r9z3mtkyl/Loading_page_BG.jpg);
}

.clsGreyColor {
    color: grey;
}

/*
* --> Manual Edit for Ionic structure
*/

.clsMakeMargin {
    margin-bottom: 10px;
}

.clsLightBorder {
    border: 0.5px #f2f2f2 solid;
}

/*
* --> Custom Popup changes
*/

.popup-container .popup {
    width: 300px !important;
    border-radius: 5px;
    padding: 20px;
}

.popup-head {
    padding: 15px 0px !important;
}


.flex1 {
  display: flex;
}

.flex2 {
  flex: 1;
  height: 50px;
}

.btnCustomPopupBtn {
    border-radius: 0px;
    position: absolute;
    z-index: 3;
    right: 30px;
    border: none;
    color: #000 !important;
}

.item-select select {
    right: auto;
    direction: ltr;
    padding-left: 0px;
}

/*
* --> Make Bottom Border
*/

.clsMakeBottomBorder {
    border-bottom: 1px #000 solid;
}

/*
* --> To make Remove Item Icon bigger - cart page
*/
i.icon.ion-ios-close-empty.clsCartCloseIcon {
    font-size: 21px;
}

/*
* --> Text Padding Justify
*/
.clsMakeTextJustify {
    text-align: justify;
}
