/* Tab css */

/* home tab icon */
.tabs .tab-item .icon.home {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25px;
  background-image: url('http://bit.ly/HomeIcon');
  background-size:contain;
}

.tabs .tab-item .icon.homeSelected {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25px;
  background-image: url('http://bit.ly/HomeIconSelected');
  background-size:contain;
}

/* cart tab icon */
.tabs .tab-item .icon.cart {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25px;
  background-image: url('http://bit.ly/CartIcon');
  background-size:contain;
}

.tabs .tab-item .icon.cartSelected {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25px;
  background-image: url('http://bit.ly/CartIconSelected');
  background-size:contain;
}

/* orders tab icon */
.tabs .tab-item .icon.orders {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25px;
  background-image: url('http://bit.ly/OrdersIcon');
  background-size:contain;
}

.tabs .tab-item .icon.ordersSelected {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25px;
  background-image: url('http://bit.ly/OrdersIconSelected');
  background-size:contain;
}

/* profile tab icon */
.tabs .tab-item .icon.profile {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25px;
  background-image: url('http://bit.ly/UserIcon');
  background-size:contain;
}

.tabs .tab-item .icon.profileSelected {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 25px;
  background-image: url('http://bit.ly/UserIconSelected');
  background-size:contain;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    margin-top: 0px;
    border:none;/*
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #444;*/
}

