@font-face {
    font-family: 'ArconRegular';
    src: url('fonts/ArconRegular.eot');
    src: url('fonts/ArconRegular.eot') format('embedded-opentype'),
         url('fonts/ArconRegular.woff2') format('woff2'),
         url('fonts/ArconRegular.woff') format('woff'),
         url('fonts/ArconRegular.ttf') format('truetype'),
         url('fonts/ArconRegular.svg#ArconRegular') format('svg');
}
